
<div class="row" id="app">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>信用卡借贷添加 <small></small></h5>

            </div>
            <div class="ibox-content">
                <form method="post" action="{:url('admin/LoanCredit/add')}" class="form-horizontal" auto_submit="1" redirect_url="{:url('admin/LoanCredit/lst')}">

                    <div class="hr-line-dashed"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">持卡人：</label>
                        <input type="hidden" name="owner" :value="selectPerson.id" datatype="*"/>
                        <input type="hidden" name="status" :value="loan.status" />
                        <div class="col-sm-10 my-margin">
                            <input type="text" class="form-control"  v-on:blur="selectFirstOne" v-on:focus="inputFocus" v-on:compositionstart="getPersonStart"
                                   v-on:compositionend="getPersonEnd" v-on:input="getPerson"
                                   v-model="pname"   list="personList" style="width: 50%;"/>
                            <div id="person_list" style="position:absolute;z-index:999;background-color: white;width:50%;">
                                <p v-for="person in persons" :pid="person.id" :mobile="person.mobile" :shenfenzheng="person.shenfenzheng" v-on:click="toselectPerson($event)">{{person.name}}</p>

                            </div>



                        </div>

                        <label class="col-sm-2 control-label">手        机：</label>
                        <div class="col-sm-10 my-margin">
                            <input type="text" disabled class="form-control"   style="width: 50%;" :value="selectPerson.mobile"/>
                        </div>

                        <label class="col-sm-2 control-label">身份证号：</label>
                        <div class="col-sm-10 my-margin">
                            <input type="text" disabled class="form-control"  style="width: 50%;" :value="selectPerson.shenfenzheng"/>
                        </div>

                        <label class="col-sm-2 control-label">卡号：</label>
                        <div class="col-sm-10 my-margin">
                            <input class=" form-control" v-model="loan.no" type="text"
                                   name="no" value="" style="width: 50%;">
                        </div>

                        <label class="col-sm-2 control-label">银行名称：</label>
                        <div class="col-sm-10 my-margin">
                            <input class=" form-control" v-model="loan.bank"  type="text"
                                   name="bank" value="" style="width: 50%;">
                        </div>

                        <label class="col-sm-2 control-label">类型：</label>
                        <div class="col-sm-10 my-margin">
                            <input class=" form-control" v-model="loan.type"  type="text"
                                   name="type" value="" style="width: 50%;">
                        </div>

                        <label class="col-sm-2 control-label">额度：</label>
                        <div class="col-sm-10 my-margin">
                            <input type="text" name="limit" v-model="loan.limit" class="form-control"  style="width: 50%;" />
                        </div>

                        <label class="col-sm-2 control-label">欠款额度：</label>
                        <div class="col-sm-10 my-margin">
                            <input type="text" name="qian" v-model="loan.qian" class="form-control"  style="width: 50%;" />
                        </div>

                        <label class="col-sm-2 control-label">收卡日：</label>
                        <div class="col-sm-10 my-margin">
                            <input type="text" name="receive_day"  v-model="loan.receive_day" class="form-control"  style="width: 50%;" />
                        </div>

                        <label class="col-sm-2 control-label">次月账单日：</label>
                        <div class="col-sm-10 my-margin">
                            <input type="text" name="account_day" v-model="loan.account_day" class="form-control"  style="width: 50%;" />
                        </div>

                        <label class="col-sm-2 control-label">已产生费用：</label>
                        <div class="col-sm-10 my-margin">
                            <input type="text" name="produce_fee" v-model="loan.produce_fee" class="form-control"  style="width: 50%;" />
                        </div>
                        <label class="col-sm-2 control-label">出账日：</label>
                        <div class="col-sm-10 my-margin">
                            <input type="text" name="chuzhang_ri" v-model="loan.chuzhang_ri" class="form-control"  style="width: 50%;" />
                        </div>
                        <label class="col-sm-2 control-label">还款日：</label>
                        <div class="col-sm-10 my-margin">
                            <input type="text" name="huankuan_ri" v-model="loan.huankuan_ri" class="form-control"  style="width: 50%;" />
                        </div>
                        <label class="col-sm-2 control-label">年费：</label>
                        <div class="col-sm-10 my-margin">
                            <input type="text" name="year_fee" v-model="loan.year_fee" class="form-control"  style="width: 50%;" />
                        </div>
                        <label class="col-sm-2 control-label">年费付款日：</label>
                        <div class="col-sm-10 my-margin">
                            <input type="text" name="year_fee_day"  v-model="loan.year_fee_day" class="form-control"  style="width: 50%;" />
                        </div>
                        <label class="col-sm-2 control-label">待还费率：</label>
                        <div class="col-sm-10 my-margin">
                            <input type="text" name="rate" v-model="loan.rate" class="form-control"  style="width: 50%;" />
                        </div>


                        <label class="col-sm-2 control-label">预期收益：</label>
                        <div class="col-sm-10 my-margin">
                            <input type="hidden" name="exp_income"  v-model="loan.exp_income"  />
                            <input type="text"  disabled class="form-control" v-model="loan.exp_income" style="width: 50%;" />
                        </div>

                        <label class="col-sm-2 control-label">推荐人：</label>
                        <input type="hidden" name="rec_person_id" :value="selectRecPerson.id" />
                        <div class="col-sm-10 my-margin">
                            <input type="text" class="form-control"   v-on:focus="inputRecFocus" v-on:compositionstart="getPersonStart"
                                   v-on:compositionend="getPersonEnd" v-on:input="getRecPerson"
                                   v-model="rec_pname"    style="width: 50%;"/>
                            <div id="rec_list" style="position:absolute;z-index:999;background-color: white;width:50%;">
                                <p v-for="person in recPersons" :pid="person.id" :mobile="person.mobile" :shenfenzheng="person.shenfenzheng" v-on:click="toselectRecPerson($event)">{{person.name}}</p>

                            </div>
                        </div>

                        <label class="col-sm-2 control-label">推荐人分成：</label>
                        <div class="col-sm-10 my-margin">
                            <input type="text" name="rec_rate" v-model="loan.rec_rate" v-on:blur="computeIncome" class="form-control"  style="width: 50%;display:inline;" /><span>%</span>
                        </div>

                        <label class="col-sm-2 control-label">预期收益-分成：</label>
                        <div class="col-sm-10 my-margin">
                            <input type="hidden" name="exp_final_income"  v-model="loan.exp_final_income"  />

                            <input type="text"  disabled v-model="loan.exp_final_income" class="form-control"  style="width: 50%;" />
                        </div>


                    </div>

                    <div class="hr-line-dashed"></div>

                </form>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button class="btn btn-primary" v-on:click="formSubmit(0)">保存</button>

                        <button class="btn btn-danger" v-on:click="formSubmit(1)">提交</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".i-checks").iCheck({checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green"})
    });
</script>
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>

<script type="text/javascript" src="__PUBLIC__ADMIN/js/project/loan.js"></script>
<script type="text/javascript">

    loanVue.personListUrl = '{:url("admin/LoanCredit/personList")}';
    loanVue.getExpincomeUrl = '{:url("admin/LoanCredit/getExpIncome")}';
    loanVue.getFinalIncomeUrl = '{:url("admin/LoanCredit/getFinalIncome")}';
</script>