<layout name="layout"/>
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>修改配置 <small></small></h5>
                <h5><small style="color: red"></small></h5>
            </div>
            <div class="ibox-content">
                <form method="post" class="form-horizontal" action="{:url('admin/Config/edit')}" auto_submit="1" redirect_url="{:url('admin/index/index_v1')}">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">提醒提前天数：</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" datatype="n" name="days" value="{$data['overdue_days']}" style="width: 50%;" />
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-primary" type="submit">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".i-checks").iCheck({checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green",})
    });
</script>
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>

